body {
    background-color: #0b1312;
    margin: 5px auto;
    box-sizing: border-box;
}

#descriptionBox {
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    display: flex;
    width: 89%;
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
}

#descriptionBox div {
    background-color: #181818;
    border: 5px #297082 solid;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    margin: 5px;
}

#content {
    width: 85%;
    padding-right: 20px;
    margin-right: 0px!important;
}

#buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    margin-left: 0px!important;
    border-left: 0px!important;
}

#next,
#prev,
#terminate {
    background-color: #181818;
    border: 1px solid #d8d8d8;
    padding: 6px 8px;
    margin: 3px;
    font-size: 14pt;
    color: #d8d8d8;
    cursor: pointer;
}

#next,
#prev {
    width: 100%;
}

#terminate {
    display: none;
}

#next:disabled,
#prev:disabled,
#terminate:disabled {
    border-color: #333;
    color: #333;
    cursor: default;
}

#next:hover:enabled,
#prev:hover:enabled,
#terminate:hover:enabled {
    background-color: #333;
}

#message {
    font-size: 13pt;
    margin: 3px;
    margin-top: 5px;
}

h3 {
    font-size: 14pt;
    margin: 3px;
    display: inline;
}

#details {
    font-size: 14pt;
    margin-left: 2vw;
    color: #888
}

svg {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 70vh;
    max-height: 50vw;
    display: block;
}

span span {
    margin-left: 20px;
}
